// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import './pages/home/home';

$white: white;
$blue: #1a2a43;

$primary-color: #1a2a43;

.content-md,
.content-ios {
    color: $white;
    background-color: $blue;
}
.toolbar-background-md,
.toolbar-background-ios {
    background: transparent;
}
.toolbar-title-md {
    color: $white
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: $white;
}
.card-md,
.card-ios {
    background-color: $blue;
}
